.blog-masthead {
    background-color: #2b303b;
}
body {
    background-color: #f5f5f5;
    font-size: 1.0em;
    color: #444444;
}
div.blog-main {
    word-wrap: break-word;
}
.s-link {
    background-size: 75px;
    width: 75px;
    height: 75px;
}
.s-linkedin {
    background-image: url("/social-media-icon-01.png");
}
.s-twitter {
    background-image: url("/social-media-icon-02.png");
}
.s-facebook {
    background-image: url("/social-media-icon-03.png");
}
.s-google-plus {
    background-image: url("/social-media-icon-04.png");
}
.s-github {
    background-image: url("/social-media-icon-05.png");
}
.cloud {
    float: left;
}

.post-cover-container-outer  {
}
.post-cover-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;

}
img.post-cover {
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
  min-width: 100%;
  min-height: 300px;
  margin: auto;
}
.hljs {
  border-radius: 6px;
  padding: 1em;
  margin: 2em 0;
}
